<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"><title></title></head>
<header th:replace="~{fragments/header:: header}"></header>

    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center">
                <h1 class="display-3 text-primary">Te Damos la Bienvenida a la Tienda de Muebles MyIKEA</h1>
            </div>
        </div>
    </main>
<br><br>
<footer th:replace="~{fragments/footer::footer}"></footer>